#about {
  background-color: #300b0b;
  color: #f6f7d1;
  border-radius: 0px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 6%;
  padding-top: 6%;
  min-height: 100vh;
  .flex-col {
    flex-direction: row;
  }
  .container {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .box-1-abo {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  .box-2-abo {
    justify-content: flex-start;
  }
  .box-3-abo {
    justify-content: flex-start;
    align-items: center;
    max-block-size: 50%;
    max-height: 72%;
    max-width: 50%;
    margin-left: 1vw;
    margin-right: 4vw;
  }

  #head_about {
    font-family: Stoke;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: right;
    margin-right: auto;
  }

  #about_cont {
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0em;
    padding-top: 2%;
    text-align: right;
    max-height: fit-content;
  }

  .girl {
    margin-left: 4%;
    max-width: 45vw;
    height: auto;
  }

  .Stars1 {
    height: 100vh;
    max-width: 100vh;
    left: 4%;
    top: auto;
    position: absolute;
  }
  .Stars2 {
    height: 80vh;
    width: 100%;
    left: -3%;
    top: auto;
    border-radius: 0px;
    position: absolute;
    background-size: 50% 8%;
    align-items: center;
    padding-left: 1%;
  }
  .gir_pho {
    display: none;
  }
  .Star1 {
    display: none;
  }
  .Star2 {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #about {
    .flex-col {
      flex-direction: column;
    }
    flex-wrap: wrap;
    width: auto;
    display: flex;
    left: 0%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #about p {
      padding: 0 5%;
    }
    #head_about {
      font-size: 125%;
      font-weight: 400;
      letter-spacing: 0em;
      margin-left: 0%;
      margin-right: 0%;
      padding-top: 0%;
      margin-bottom: 0%;
      text-align: center;
    }
    .gir_pho {
      display: block;
      height: auto;
      width: 60%;
      border-radius: 0%;
      margin-top: 6%;
      align-items: center;
      margin-left: 18%;
    }

    #about_cont {
      margin: auto;
      justify-content: center;
      max-width: 85%;
      font-size: medium;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 0em;
      text-align: center;
    }
    .Star1 {
      display: block;
      min-height: 95%;
      top: auto;
      position: absolute;
    }

    .girl {
      display: none;
    }
    .Stars1 {
      display: none;
    }
    .Stars2 {
      display: none;
    }
  }
}
