#events {
  .react-multi-carousel-dot button {
    background-color: rgb(78, 8, 8);
    border-color: rgb(90, 10, 10);
  }
  .react-multi-carousel-dot--active button {
    background-color: rgb(139, 75, 75);
    border-color: rgb(90, 10, 10);
  }
  .react-multiple-carousel__arrow {
    background-color: rgb(139, 75, 75);
  }
  .title {
    font-family: Stoke;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    color: rgba(246, 247, 208, 0.83);
    padding: 50px;
  }

  padding: 10px 50px 10px 50px;
}

@media only screen and (max-device-width: 992px) {
  #events {
    .title {
      font-style: normal;
      font-size: 32px;
      line-height: 40px;
      font-weight: bold;
      color: rgba(246, 246, 208, 0.83);
    }
    padding: 10px;
  }
}
