#landing {
  background: center no-repeat url("../../public/assets/bg.png");
  background-size: 100% auto;
  min-height: 90vh;

  // overflow-y: hidden;
  // height: 100vh;
  #text-content {
    position: relative;
    top: 45vh;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: Stoke;
    font-size: 90px;
    color: #f6f7d1;
    text-align: center;
    // margin-top: 45vh;
  }
  p {
    font-family: Stoke;
    font-size: 25px;
    color: #edd7b8;
    text-align: center;
  }
  a {
    text-decoration: none;
    font-family: stoke;
    font-size: 30px;
    color: #8e2f30;
    text-align: center;
    margin-top: 50px;
  }
  .join-btn {
    text-decoration: none;
    font-family: stoke;
    font-size: 30px;
    color: #8e2f30;
    text-align: center;
    margin-top: 50px;
    border: none;
  }
  button {
    height: 68.93px;
    width: 200px;
    border-radius: 40px;
    opacity: 57%;
  }

  @media screen and (max-width: 600px) {
    background-size: auto 100%;
    h1 {
      font-size: 40px;
      text-align: center;
      margin-top: 40vh;
    }
    p {
      text-align: center;
      font-size: 14px;
    }
    a {
      font-family: stoke;
      font-size: 16px;
      color: #8e2f30;
      text-align: center;
      margin-top: 50px;
      border: none;
    }
    .join-btn {
      font-family: stoke;
      font-size: 16px;
      color: #8e2f30;
      text-align: center;
      margin-top: 50px;
      border: none;
    }
    button {
      height: 45px;
      width: 110px;
      border-radius: 40px;
      opacity: 87%;
    }
  }
}
