#landing {
  overflow-y: hidden;
  height: 100vh;
  scroll-behavior: smooth;

  .bgImg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
  }
  .logo{
    position: absolute;
    margin-left: 45%;
    top: 0%;
    width: 111px;
    height: 96px;
  }

  h1
  {
    font-family: Stoke;
    font-size: 90px;
    color: #f6f7d1;
    text-align: center;
    margin-top: 45vh;
    
   
   }
   p
   {
     font-family: Stoke;
     font-size: 25px;
     color: #EDD7B8;
     text-align: center;
     
    
   }
   a{
    text-decoration: none;
    font-family: stoke;
    font-size: 30px;
    color:#8E2F30;
    text-align: center;
    margin-top: 50px;
   }
   .join-btn
   {
    text-decoration: none;
     font-family: stoke;
     font-size: 30px;
     color:#8E2F30;
     text-align: center;
     margin-top: 50px;
     border: none;
   }
   button
   {
    
     height: 68.93px;
     width: 200px;
     border-radius: 40px;
     opacity: 87%;
   }
  
  
   
    @media screen and (max-width:600px){
      .bgImg{
        object-fit: none;
        object-position: 50% 0;
      }
      .logo{
        width: 50px;
        height: 45px;
        margin-left: 20px;
        margin-top: 10px;
      }
      h1{
      font-size: 40px;
      text-align: center;
      margin-top: 40vh;
             
        }
        p{
          text-align: center;
          font-size: 14px;
        }
        a{
          font-family: stoke;
          font-size: 16px;
          color:#8E2F30;
          text-align: center;
          margin-top: 50px;
          border: none;
        }
    .join-btn {

     font-family: stoke;
     font-size: 16px;
     color:#8E2F30;
     text-align: center;
     margin-top: 50px;
     border: none;
   }
   button
   {
     height: 45px;
     width: 110px;
     border-radius: 40px;
     opacity: 87%;
   }
  }
}
  
  

