#landing {
  background: center no-repeat url("../../public/assets/bg.webp");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #53171b;
  #text-content {
    padding-top: calc(30vh + 100px);
    flex-basis: 80%;
    padding-bottom: 20vh;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: Stoke;
    font-size: 7vw;
    color: #f6f7d1;
    text-align: center;
  }
  p {
    font-family: Stoke;
    font-size: 3vw;
    color: #edd7b8;
    text-align: center;
  }
  a {
    text-decoration: none;
    font-family: stoke;
    font-size: 30px;
    color: #8e2f30;
    text-align: center;
    margin-top: 50px;
  }
  .join-btn {
    text-decoration: none;
    font-family: stoke;
    font-size: 30px;
    color: #8e2f30;
    text-align: center;
    margin-top: 50px;
    border: none;
    background-color: #f6f7d1;
  }
  button {
    height: 68.93px;
    width: 200px;
    border-radius: 40px;
    opacity: 77%;
  }
  @media screen and (max-width: 600px) {
    #text-content {
      top: 45vh;
    }

    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 14px;
    }
    a {
      font-family: stoke;
      font-size: 16px;
      color: #8e2f30;
      text-align: center;
      margin-top: 50px;
      border: none;
    }
    .join-btn {
      font-family: stoke;
      font-size: 16px;
      color: #8e2f30;
      text-align: center;
      margin-top: 50px;
      border: none;
    }
    button {
      height: 45px;
      width: 110px;
      border-radius: 40px;
      opacity: 87%;
    }
  }
}
