#landing {
  height: 100vh;

  .bgImg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    margin: 1rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: rgb(61, 57, 57);
  }
}
