nav a {
  margin-top: 5px;
  padding: 20px;
  font-size: 1.5rem;
  font-family: poppins;
  color: #dcd1b2;
  text-decoration: none;
}
nav {
  width: 100%;
  position: absolute;
  background: transparent;
  text-align: center;
  scroll-behavior: smooth;
  z-index: 1001;
}

.list {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  left: 0;
  right: 0;
  padding: 5px 0;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: #dcd1b2;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: rgb(56, 7, 7);
}
.dropdown-content a {
  font-size: 1rem;
}
.dropdown-content {
  display: none;
  background-color: #8e2f30;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content div:hover {
  background-color: rgb(82, 10, 10);
}

.btnmenu {
  visibility: hidden;
  position: absolute;
  right: 29px;
  top: 20px;
  padding: 5px;
  background: transparent;
  border: none;
}

nav[active="false"] {
  z-index: 0;
}
nav[active="true"] {
  z-index: 1001;
}

@media screen and (max-width: 992px) {
  .nav-wrapper {
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    overflow-y: auto;
  }
  nav {
    width: 100%;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    right: 29px;
    top: 20px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #edd7b8;
  }
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
  .dropdown:hover .dropbtn {
    background-color: transparent;
  }
  .dropdown-content {
    display: block;
    position: relative;
  }
  .dropdown-content div {
    text-align: center;
    background-color: #b33b3d6b;
    margin-left: auto;
    border: 0cm;
    border-radius: 50px;
  }
  .list {
    top: 0;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: #8e2f30;
    right: 0%;
    padding-bottom: 10px;
  }

  .items {
    width: 100%;
    margin: 10px;
    text-align: center;
  }
  .items :nth-child(1) {
    margin-top: 50px;
  }
}
