#readersForum p {
  color: #f6f7d1;
}
#readersForum {
  background-color: #360709;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;

  .container {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .flexbox-1 {
    align-items: flex-start;
    margin-right: 10vw;
  }

  .head {
    font-family: Stoke;
    font-size: 6vw;
    color: #f6f7d1;
    text-align: left;
  }

  .child {
    width: 40vw;
    height: auto;
    border-radius: 30%;
    margin-top: 10px;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .Stars {
    position: absolute;
    height: auto;
    border-radius: 0px;
  }
  .stars {
    display: none;
    position: absolute;
  }
  .img2 {
    display: none;
  }
  .img1 {
    display: block;
    padding-left: 4%;
  }
  .flexbox-3 {
    font-family: Poppins;
    width: 66%;
    height: fit-content;
    font-size: 1.3rem;
  }

  .book1 {
    display: none;
  }
  .book {
    border: none;
  }
  @media only screen and (max-width: 800px) {
    .book1 {
      width: 43.98px;
      height: auto;
      position: absolute;
      padding-top: 50.4px;
      right: 44.73%;
      display: block;
    }
    #readersForum {
      flex-wrap: wrap;
      width: auto;
      display: flex;
      left: 0%;
      flex-direction: column;
      align-items: center;
      margin-left: 0vw;
    }

    .container {
      justify-content: flex-start;
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    .img2 {
      display: block;
    }
    .img1 {
      display: none;
    }

    .child {
      width: 60vw;
      height: auto;
    }
    .flexbox-1 {
      padding: 0;
      margin-bottom: 20px;
      justify-content: flex-start;
      align-items: center;
      text-align: right;
      margin-right: 0;
    }
    .head {
      display: flex;
      color: #f6f7d1;
    }
    .book {
      display: none;
    }

    .flexbox-3 p {
      font-style: normal;
      font-size: medium;
    }

    .flexbox-3 {
      margin-bottom: 120px;
      text-align: center;
    }
    .Stars {
      display: none;
    }
    .stars {
      width: 100%;
      height: auto;
      top: 10px;
      border-radius: 0px;
      position: absolute;
      image-resolution: 1080px;
      display: block;
    }
  }
}
