@import url("https://fonts.googleapis.com/css2?family=Stoke&display=swap");
#team {
  background: #53090e;
  height: auto;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  background-image: url("https://the-book-thieves.netlify.app/assets/Stars.png");
  background-clip: border-box;

  .Stars1 {
    position: absolute;
    align-content: space-around;
    align-items: center;
    height: 90vh;
    left: 5vw;
    padding-right: 10vw;
  }

  .Stars2 {
    position: absolute;
    align-content: space-around;
    align-items: center;
    padding-top: 60vw;
    height: 100vh;
    width: 50vw;
  }

  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5vw;
    padding-bottom: 5vh;
  }

  .column img {
    width: 100%;
    justify-content: center;
  }

  .head {
    text-align: center;
    font-size: 6vw;
    font-family: "stoke";
    padding-left: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    color: rgba(246, 247, 208, 0.83);
  }
  .border {
    background-color: transparent;
    height: 25vw;
    width: 25vw;
    outline: 4px solid rgba(246, 247, 208, 0.83);
    outline-offset: -1.5vw;
    margin-bottom: 5vh;
  }
  .border p {
    font-size: 1.5vw;
    text-align: center;
    font-family: "Poppins";
    padding-top: 0.5vw;
    color: rgba(248, 250, 193, 0.83);
  }

  @media screen and (max-width: 800px) {
    .head {
      font-size: 10vw;
    }
    .column {
      padding-top: 4vw;
      padding-left: 0vw;
      display: flex;
      flex: 100%;
      width: 100%;
      justify-content: center;
      align-content: center;
    }
    .border {
      height: 53vw;
      width: 50vw;
      outline-offset: -2.5vw;
    }

    .border p {
      font-size: 3.75vw;
    }
  }

  .scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 8vh;
  }
}
