#writersForum {
  background-color: #3e070a;
  color: #f6f7d1;
  min-height: 100vh;
  width: auto;
  border-radius: 0px;
  padding: 5% 5% 5% 4%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .flex-col {
    flex-direction: row;
  }
  #container {
    margin-top: -1%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .box-1 {
    margin-bottom: 5%;
    justify-content: center;
  }
  .box-2 {
    margin-right: 20px;
    justify-content: center;
  }
  .box-3 {
    margin-left: 10px;
    justify-content: center;
    margin-right: 3%;
  }

  #write_head {
    font-family: Stoke;
    font-size: 3vw;
    text-align: left;
    margin-right: auto;
  }

  #textContent {
    font-family: Poppins;
    font-size: 1.3rem;
    text-align: left;
  }

  .book {
    border-radius: 20%;
    height: auto;
    width: 40vw;
    margin-left: 1vw;
  }
  .pen {
    margin-right: -10%;
    align-items: center;
    display: flex;
  }

  .Stars2 {
    height: 80vh;
    width: 100%;
    max-width: 100vh;
    right: 5%;
    top: auto;
    border-radius: 0px;
    position: absolute;
    padding-bottom: 0;
  }
  .Stars3 {
    height: 90vh;
    width: 100%;
    left: -66px;
    top: auto;
    border-radius: 0px;
    position: absolute;
    background-size: 50% 50px;
    align-items: center;
    padding-right: -10%;
    padding-left: auto;
    padding-top: -10%;
  }

  .book_pho {
    display: none;
  }
  .Star1 {
    display: none;
  }
  .pen_pho {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .flex-col {
    flex-direction: column;
  }
  #writersForum {
    flex-direction: column;
    align-items: center;
    .box-1 {
      max-width: 440px;
    }
    p {
      padding: 0 13%;
    }
    #write_head {
      text-align: center;
      align-items: flex-start;
      margin-left: auto;
      margin-right: auto;
    }
    #textContent {
      text-align: center;
      font-size: medium;
    }
    .book_pho {
      height: auto;
      width: 50vw;
      display: inline;
      margin-bottom: 5%;
      filter: blur(1);
    }
    .Star1 {
      display: block;
      min-height: 800px;
      max-width: 480px;
      top: auto;
      border-radius: 0px;
      position: absolute;
    }
    .pen_pho {
      display: block;
      align-items: center;
      margin: auto;
      width: 10%;
      margin-top: 10%;
    }

    .book {
      display: none;
    }
    .Stars3 {
      display: none;
    }
    .Stars2 {
      display: none;
    }
    .pen {
      display: none;
    }
  }
}
