#writersForum {
  background-color: #3e070a;
  color: #f6f7d1;
  height: 100vh;
  width: auto;
  border-radius: 0px;
  padding-left: 3%;
  padding-right: 4%;
  overflow: hidden;

  #container {
    margin-top: -1%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .box-1 {
    margin-bottom: 5%;
    justify-content: center;
  }
  .box-2 {
    margin-right: 20px;
    justify-content: center;
  }
  .box-3 {
    margin-left: 10px;
    justify-content: center;
    margin-right: 80px;
  }

  #write_head {
    font-family: Stoke;
    font-size: 202%;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
    margin-left: -6%;
    margin-right: auto;
  }

  #textContent {
    font-family: Poppins;
    font-size: 150%;
    font-weight: 350;
    text-align: left;
  }

  .book {
    left: 41px;
    top: 232px;
    border-radius: 118px;
    margin-right: -11%;
    max-height: 472px;
    max-width: 630px;
  }
  .pen {
    padding-bottom: 55%;
    margin-right: -10%;
  }

  .Stars2 {
    height: 80vh;
    width: auto;
    max-width: 100vh;
    right: 5%;
    top: auto;
    border-radius: 0px;
    position: absolute;
    padding-bottom: 0;
  }
  .Stars3 {
    height: 90vh;
    width: auto;
    left: -66px;
    top: auto;
    border-radius: 0px;
    position: absolute;
    background-size: 50% 50px;
    align-items: center;
    padding-right: -10%;
    padding-left: auto;
    padding-top: -10%;
  }

  .book_pho {
    display: none;
  }
  .Star1 {
    display: none;
  }
  .pen_pho {
    display: none;
  }
}

@media only screen and (max-device-width: 1200px) {
  #writersForum {
    flex-wrap: wrap;
    height: 800px;
    width: auto;
    flex-direction: column;
    align-items: center;
    .container {
      margin-left: 0px;
      margin-top: -21%;
      max-width: 440px;
    }
    .box-1 {
      max-width: 440px;
    }
    #write_head {
      height: 10px;
      width: auto;
      font-size: 20px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: center;
      align-items: flex-start;
      margin-left: auto;
      margin-right: auto;
    }
    #textContent {
      text-align: center;
    }
    .book_pho {
      height: 194px;
      width: 242px;
      display: inline;
      margin: 15%;
    }
    .Star1 {
      display: block;
      min-height: 800px;
      max-width: 480px;
      top: auto;
      border-radius: 0px;
      position: absolute;
    }
    .pen_pho {
      display: block;
      align-items: center;
      margin: auto;
      width: 10%;
      margin-top: 10%;
    }

    .book {
      display: none;
    }
    .Stars3 {
      display: none;
    }
    .Stars2 {
      display: none;
    }
    .pen {
      display: none;
    }
  }
}
