html *,
body * {
  user-select: none;
  cursor: none;
  a:hover {
    cursor: none;
  }
}

body {
  cursor: none;
}

:root {
  --color-cursor: 245, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}

#cursor-dot,
#cursor-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  mix-blend-mode:difference;
}

#cursor-dot {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: rgba(var(--color-cursor), 1);
}

#cursor-dot-outline {
  width: var(--cursor-outline-size);
  height: var(--cursor-outline-size);
  background-color: rgba(var(--color-cursor), var(--cursor-outline-shade));
}

// html:not(html:hover) .cursor::after {
//   opacity: 0;
//   transform: scale(0);
// }

@media screen and (max-width: 992px) {
  #cursor-dot,
#cursor-dot-outline {
  width: 0;
  height:0;
}

}