.viewPostBtn {
  border: 1px solid darkgray;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #53171b;
  opacity: 0.8;
  color: white;
  font-family: Poppins;
  font-size: medium;
  text-align: center;
}
.desc {
  text-align: left;
  padding-top: 2%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}
#card {
  background-color: white;
  padding-bottom: 20px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 70px;
}

@media (max-width: 800px) {
  .viewPostBtn {
    font-size: calc(2vmin + 0.3vmin);
  }
  .tag {
    font-size: 2.5vmin;
  }
  .desc {
    font-size: 3vmin;
    text-overflow: inherit;
    overflow: auto;
    white-space: normal;
  }
}
