.scrollAni {
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.scrollAni:hover {
  animation: none;
  padding: 2%;
  border: 2px solid rgba(248, 250, 193, 0.83);
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
