/* global stylesheet */
/* do not change unless you want to make some global changes affecting all sections */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  overflow-x: hidden;
} */

.section {
  min-height: 80vh;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
